/* @font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUI-LightItalic.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Semilight';
  src: url('../public/assets/font/SegoeUI-SemilightItalic.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-SemilightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUI-Semibold.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-Semibold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUI-SemiboldItalic.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-SemiboldItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUIBlack.woff2') format('woff2'),
      url('../public/assets/font/SegoeUIBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUIBlack-Italic.woff2') format('woff2'),
      url('../public/assets/font/SegoeUIBlack-Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Brush Script MT';
  src: url('../public/assets/font/BrushScriptMT.woff2') format('woff2'),
      url('../public/assets/font/BrushScriptMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI Semilight';
  src: url('../public/assets/font/SegoeUI-Semilight.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-Semilight.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUI-BoldItalic.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUI.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUI-Bold.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/assets/font/SegoeUI-Italic.woff2') format('woff2'),
      url('../public/assets/font/SegoeUI-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
} */

html body {
  font-family: "Segoe UI";
  margin: 0;
  line-height: 1.3;
  background: #f8f8f8;
}

body .container {
  width: 100%;
  max-width: 1430px;
}

/*********************  Default-CSS  *********************/

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-ms-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-o-file-upload-button {
  cursor: pointer;
}

input[type="file"],
a[href],
input[type="submit"],
input[type="button"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

::-moz-focus-inner {
  border: 0px solid transparent;
}

::-webkit-focus-inner {
  border: 0px solid transparent;
}

*::-moz-selection {
  color: #fff;
  background: #000;
}

*::-webkit-selection {
  color: #fff;
  background: #000;
}

*::-webkit-input-placeholder {
  color: #333333;
  opacity: 1;
}

*:-moz-placeholder {
  color: #333333;
  opacity: 1;
}

*::-moz-placeholder {
  color: #333333;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #333333;
  opacity: 1;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

a,
span,
div a:hover,
div a:active,
button {
  text-decoration: none;
}

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.no-list li,
.no-list ul,
.no-list ol,
footer li,
footer ul,
footer ol,
header li,
header ul,
header ol {
  list-style: inside none none;
}

.no-list ul,
.no-list ol,
footer ul,
footer ol,
header ul,
header ol {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: #555;
}

a:hover {
  color: #000;
}

body .clearfix,
body .clear {
  clear: both;
  line-height: 100%;
}

body .clearfix {
  height: auto;
}

* {
  outline: none !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul:after,
li:after,
.clr:after,
.clearfix:after,
.container:after,
.grve-container:after {
  clear: both;
  display: block;
  content: "";
}

div input,
div select,
div textarea,
div button {
  font-family: "Segoe UI";
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Segoe UI";
  line-height: 120%;
  color: #333;
  font-weight: bold;
  margin: 0 0 15px;
}

body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
  margin-bottom: 0;
}

.btn-white {
  background: #fff;
  color: #043289;
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  padding: 8px 18px;
}

.btn-white:hover {
  background: #043289;
  color: #fff;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background: white;
}

.btn-blue {
  color: #fff;
  font-size: 16px;
  padding: 6px 12px;
  line-height: 30px;
  background: #043289;
  border-radius: 0;
  font-weight: lighter;
  transition: all 0.5s;
}

.btn-blue:hover {
  background: #00205c;
  color: #fff;
  transition: all 0.5s;
}
.btn:disabled{
  background: gray !important;
}
.btn-arrow {
  display: flex;
  align-items: center;
  width: fit-content;
}
.btn-arrow svg {
  font-size: 24px;
}

@media (max-width: 575px) {
  .btn-blue {
    padding: 5px 10px;
  }
  .btn-arrow svg {
    font-size: 20px;
  }
}
